LectorExcelConciliacion/ConnString.cs
LectorExcelConciliacion/connString.cs
LectorExcelConciliacion/bin/Debug
LectorExcelConciliacion/bin/Release
LectorExcelConciliacion/obj/Debug
LectorExcelConciliacion/obj/Release